<h1>Circuit Sequence</h1>

<p>
	Hey Friends! Welcome to Circuit Sequence. The World's most unfinished workout planning application. Feel free to poke around, plan a workout, or add filthy exercise names while I work.
</p>