<h1>Circuit Sequence</h1>

<p>
	Welcome to Circuit Sequence-- The World's most unfinished workout planning application.
</p>

<p>
	This app was built as a proof of concept. It proves that, A) there is a better way to organize workouts than pen and paper, and, B) that I can build a resonably functional rails app. The primary motivation was simply so that I could lean Rails and write <a target="_blank" href="http://prgrmmr.com">a blog about it</a>.
</p>


<h3>The core functionality was planned as follows:</h3>
<ol>
	<li>You input your regular exercises. An exercise represents a single, typically repeatable, actiion which you plan to perfrom during the course of a workout.</li>
	<li>You plan a workout. A workout represents a specific period of time in which you plan to move your body to generate sweat and frustration.</li>
	<li>Your workout contains stations. A station represents either a physical location or logical grouping of exercises you plan to perform, in order.</li>
	<li>Lastly, each station contains a reference to one or more of your pre-defined exercises. Exercises within stations are ordered, and can be re-ordered simply.</li>
</ol>

<p>
	If you're interested in chatting about this app, you can reach out to me on twitter @theprgrmmr or read about its making on <a target="_blank" href="http://prgrmmr.com">http://prgrmmr.com</a>.
</p>
