<!DOCTYPE html>
<html>
<head>
  <title>Circuit Sequence</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
	  	<div class="navbar-header">
	      <a class="navbar-brand" href="/">Circuit Sequence</a>
	      <ul class="nav navbar-nav">
	        <li><a href="workouts">Workouts</a></li>
	        <li><a href="exercises">Exercises</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<div class="container">
	  <%= yield %>
	</div>
</body>
</html>
